
@using Evidencia1ClaseWeb.Models
@model List<EmpleadoClass>
@{
    ViewBag.Title = "Index";
    ;
}

<div class="container-fluid m-auto">
    <h2 class="text-center pb-4">TABLA DE LOS EMPLEADOS</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8">

            <table class="table table-responsive table-hover">
                <thead class="thead-dark">
                    <tr>
                     
                        <th class="text-center">ID</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Departamento</th>
                        <th class="text-center">Fecha de ingreso</th>
                        <th class="text-center">Telefono</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.idEmpleado</td>
                            <td class="text-center">@item.nombreEmpleado</td>
                            <td class="text-center">@item.apellidoEmpleado</td>
                            <td class="text-center">@item.iDepartamento</td>
                            <td class="text-center">@item.fechaIngreso</td>
                            <td class="text-center">@item.empleadoCelular</td>

                            <td class="text-center">
                                @Html.ActionLink("Editar", "EditarEmpleado", new { id = item.idEmpleado }, new { @class = "btn btn-warning mx-2" }) 
                                @Html.ActionLink("Eliminar", "DeleteEmpleado", new { id = item.idEmpleado }, new { @class = "btn btn-danger mx-2", @onclick = "delete()" } )
                            </td>
                        </tr>
            }
                </tbody>
            </table>

        </div>
    </div>
    <div class="row my-4 justify-content-center">
        <div class="col-auto">
            @Html.ActionLink("Agregar nuevo Empleado", "NuevoEmpleado", new { @class = "btn btn-success" })
        </div>
    </div>
</div>

<script>
    function eliminar() {
        if (confirm("¿Desea eliminar el registro?") == 1) {
            alert("Se elimino el registro correctamente.");

        } else {
            event.preventDefault();
        }
    }

</script>